.detail {
  color: var(--a-text-default);
  margin-block-end: var(--a-spacing-4) !important;
}

.container {
  border-radius: 8px;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0.5px 0px rgba(0, 0, 0, 0.18);
}

.heading {
  margin-block-end: var(--a-spacing-2) !important;
  padding: 16px 20px 12px 20px;
  margin-bottom: 0 !important;
}

.header {
  border-bottom: 1px solid var(--a-border-subtle);
  background-color: var(--a-surface-default);
  border-radius: 12px 12px 4px 4px;
}

.body {
  padding: 16px 20px 20px 20px;
  background-color: var(--a-surface-default);
  /*border-radius: 4px 4px 12px 12px;*/
}

@media (max-width: 486px) {
  .heading {
    padding: 16px 16px 12px 16px;
  }
  .body {
    padding: 12px 16px 16px 16px;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-bottom: 1px solid lightgray;
}
